[user]
	name = Noah Allen
	email = noahtallen@gmail.com

[pull]
	ff = only

[alias]
	pushf = push --force-with-lease
	ca = commit -a -m
	bn = rev-parse --abbrev-ref HEAD
	l = log --oneline
	co = checkout
	# Checkout the default branch:
	sm = !git switch $(git mb)
	# Fast git switch to previous branch:
	s = switch -
	# Get the default branch name:
	mb = !basename $(git symbolic-ref --short refs/remotes/origin/HEAD)
	# Merge in the main branch:
	mm = !"if git ismb; then git fchmb; else git fchmb && git merge $(git mb); fi"
	# Get the current branch name:
	cb = rev-parse --abbrev-ref HEAD
	# Whether we're on the default branch:
	ismb = ![[ "$(git mb)" = "$(git cb)" ]]
	# Fetch default branch changes locally -- if on default branch, just pull.
	fchmb = !"if git ismb ; then git pull ; else git fetch origin $(git mb):$(git mb) ; fi"
	# Create a new branch starting from latest main branch
	b = !git fchmb && git switch -c $1 $(git mb) && git push -u origin
	# ATTENTION: All aliases prefixed with ! run in /bin/sh make sure you use sh syntax, not bash/zsh or whatever
	branches = "!r() { count=$1; git for-each-ref --sort=-committerdate refs/heads --format='%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)|%(color:magenta)%(authorname)%(color:reset)' --color=always --count=${count:=10} | column -ts'|';}; r"

[init]
	defaultBranch = trunk

[rerere]
	enabled = true

[diff]
	tool = difftastic
	external = difft

[difftool]
	prompt = false

[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"

[pager]
	difftool = true

# For some reason, git config --global doesn't read this if it's in an included local config file,
# so just include it here. Try not to commit it :P
[core]
	hooksPath = /Users/noahallen/Library/Application Support/ggshield/git-hooks

# Work repos
[includeIf "hasconfig:remote.*.url:git@github.com:webflow/**"]
	path = ~/.gitconfig-webflow

[include]
# Store local-only stuff here, like the signingkey
	path = ~/.gitconfig-local
